<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hong Kong Pacific Towers | About</title>

    <meta name="description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <link rel="canonical" href="http://hkpt.com.hk/about">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hong Kong Pacific Towers">
    <meta property="og:description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <meta property="og:url" content="http://hkpt.com.hk/about">
    <meta property="og:site_name" content="HKPT">
    <meta property="og:image" content="http://hkpt.com.hk/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="<%= assetsMap.about.css %>">
    <!-- <link rel="stylesheet" href="/css/about.css"> -->

</head>
<body>

    <div class="wrapper">
        <section class="section section-main">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/header/hkpt-logo.png" alt="">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="campWhite navLink" href="/about">About The Building</a>
                        </li>
                        <li>
                            <a class="campWhite navLink" href="/leasing">Leasing</a>
                        </li>
                        <li>
                            <a class="campWhite navLink" href="/innovative">Innovative Design</a>
                        </li>
                        <li>
                            <a class="campWhite navLink" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="full-width-video">
                <video autoplay>
                    <source src="/images/hkpt-timelapse.mp4" type="video/mp4">
                </video>
            </div>
        </section>

        <section class="section section-about">
            <div class="section-strip">
                <div class="special-heading left-bar">
                    <div class="heading-bar"></div>
                    <h1 class="heading-text">about the<br>building</h1>
                </div>

                <div class="section-words">
                    <p>Located in the fast developing Kowloon Bay Business Area, the heart of CBD², Hong Kong Pacific Tower is a Grade-A, 24-storey office building with approximately 339,000 ft² of premium retail and office space on offer. The high ceilings and elegant design of the lobby, with beautiful Sky Garden on the 2nd floor offer luxurious open spaces for tenants and retail customers to enjoy.</p>
                </div>
            </div>

            <div class="full-width-slider">
                <div class="slider-wrapper sliderArrows sliderArrows" id="about-second-slider">
                    <figure>
                        <img src="/images/about/aboutthebuilding_slider1.jpg" alt="">
                    </figure>
                    <figure>
                        <img src="/images/about/aboutthebuilding_slider2.jpg" alt="">
                    </figure>
                    <figure>
                        <img src="/images/about/aboutthebuilding_slider3.jpg" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section section-connect">
            <div class="animation-field">

                <div class="connect-content">
                    <div class="connect-words">
                        <div class="special-heading left-bar">
                            <div class="heading-bar"></div>
                            <h1 class="heading-text">connectivity &amp;<br> accessibility</h1>
                        </div>

                        <div class="section-words">
                            <h2>Heart of City with Intensive<br>Transport Connection</h2>
                            <p>Right in the heart of Kowloon East, Hong Kong Pacific Tower is easily accessible by car or public transportation.  When traveling by public transportation, a planned 550 meter long covered walkway will connect Hong Kong Pacific Tower directly to Telford Plaza, for smooth access to a public buses or the MTR at Kowloon Bay Station.</p>
                        </div>
                    </div>

                    <div class="connect-timetable">
                        <table>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><img src="/images/about/connectivity/mtr-icon.png" alt=""></td>
                                    <td><img src="/images/about/connectivity/car-icon.png" alt=""></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Kowloon Bay</td>
                                    <td>15 mins</td>
                                    <td>12 mins</td>
                                    <td>Quarry Bay</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>24 mins</td>
                                    <td>15 mins</td>
                                    <td>Tsim Sha Tsui</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>29 mins</td>
                                    <td>20 mins</td>
                                    <td>Central</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>52 mins</td>
                                    <td>35 mins</td>
                                    <td>Hong Kong International Airport</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>53 mins</td>
                                    <td>40 mins</td>
                                    <td>Lo Wu Station</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>58 mins</td>
                                    <td>50 mins</td>
                                    <td>Lok Ma Chau Station</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <figure id="layer1-streets">
                    <img src="/images/about/connectivity/streets.png" alt="">
                </figure>

                <div id="hkpt-building" class="building-wrappers falling-bezier">
                    <figure id="layer2-hkpt-build">
                        <img src="/images/about/connectivity/build-hkpt.png" alt="">
                    </figure>
                    <figure id="layer2-hkpt-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-hkpt.png" alt="">
                    </figure>
                </div>

                <div id="emax-building" class="building-wrappers falling-bezier">
                    <figure id="layer2-emax-build">
                        <img src="/images/about/connectivity/build-emax.png" alt="">
                    </figure>
                    <figure id="layer2-emax-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-emax.png" alt="">
                    </figure>
                </div>

                <div id="megabox-building" class="building-wrappers falling-bezier">
                    <figure id="layer2-megabox-build">
                        <img src="/images/about/connectivity/build-megabox.png" alt="">
                    </figure>
                    <figure id="layer2-megabox-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-megabox.png" alt="">
                    </figure>
                </div>

                <div id="mtr-building" class="building-wrappers falling-bezier">
                    <figure id="layer2-mtr-build">
                        <img src="/images/about/connectivity/build-mtr.png" alt="">
                    </figure>
                    <figure id="layer2-mtr-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-mtr.png" alt="">
                    </figure>
                </div>

                <div id="park-building" class="building-wrappers falling-bezier">
                    <figure id="layer2-park-build">
                        <img src="/images/about/connectivity/build-park.png" alt="">
                    </figure>
                    <figure id="layer2-park-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-park.png" alt="">
                    </figure>
                </div>

                <div id="kaifuk-street" class="street-wrappers elastic-bezier">
                    <figure id="layer3-kaifuk-street">
                        <img src="/images/about/connectivity/street-kaifuk.png" alt="">
                    </figure>
                </div>

                <div id="kuntong-street" class="street-wrappers elastic-bezier">
                    <figure id="layer3-kuntong-street">
                        <img src="/images/about/connectivity/street-kuntong.png" alt="">
                    </figure>
                </div>

                <div id="kaitak-water" class="water-wrappers">
                    <figure id="layer4-kaitak-water">
                        <img src="/images/about/connectivity/water-kaitak.png" alt="">
                    </figure>
                    <figure id="layer4-kaitak-pin" class="pin-image elastic-bezier">
                        <img src="/images/about/connectivity/pin-kaitak.png" alt="">
                    </figure>
                </div>
            </div>

            <div class="section-strip purpleBg">
                <div class="arrow-map">
                    <div class="double-arrow">
                       <figure class="arrow-img" id="arrow-1">
                           <img src="/images/about/connectivity/arrow.png" alt="">
                       </figure>
                       <figure class="arrow-img" id="arrow-2">
                           <img src="/images/about/connectivity/arrow.png" alt="">
                       </figure>
                    </div>

                    <figure class="icon-circle icon-first-circle">
                        <figcaption>START<br>HERE</figcaption>
                        <img src="/images/about/connectivity/icon-10.png" alt="">
                        <figcaption>Kowloon Bay Station</figcaption>
                    </figure>
                    <figure class="arrow-img" id="arrow-3">
                        <img src="/images/about/connectivity/arrow.png" alt="">
                    </figure>

                    <figure class="icon-circle icon-second-circle">
                        <figcaption><span>7</span><br>mins</figcaption>
                        <img src="/images/about/connectivity/icon-7.png" alt="">
                        <figcaption>Hong Kong Pacific Tower</figcaption>
                    </figure>
                    <figure class="arrow-img" id="arrow-4">
                        <img src="/images/about/connectivity/arrow.png" alt="">
                    </figure>

                    <figure class="icon-circle icon-third-circle">
                        <figcaption><span>5</span><br>mins</figcaption>
                        <img src="/images/about/connectivity/icon-8.png" alt="">
                        <figcaption>Shopping Mall</figcaption>
                    </figure>
                    <figure class="arrow-img" id="arrow-5">
                        <img src="/images/about/connectivity/arrow.png" alt="">
                    </figure>

                    <figure class="icon-circle icon-fourth-circle">
                        <figcaption><span>10</span><br>mins</figcaption>
                        <img src="/images/about/connectivity/icon-9.png" alt="">
                        <figcaption>Kai Tak<br>Development Area</figcaption>
                    </figure>

                    <div class="double-arrow">
                       <figure class="arrow-img" id="arrow-6">
                           <img src="/images/about/connectivity/arrow.png" alt="">
                       </figure>
                       <figure class="arrow-img" id="arrow-7">
                           <img src="/images/about/connectivity/arrow.png" alt="">
                       </figure>
                    </div>

                </div>
            </div>

        </section>

        <section class="section section-integrate">
            <div class="partial-slider-wrapper">
                <div class="split-container">
                    <div class="section-content">
                        <div class="section-heading">
                            <div class="special-heading left-bar">
                                <div class="heading-bar"></div>
                                <h1 class="heading-text">advantageous<br>integration</h1>
                            </div>
                        </div>

                        <div class="section-words blackWords">
                            <h2>Quality Integration of Commercial<br>Building &amp; Environment</h2>
                            <p>The integration of both office and retail space in Hong Kong Pacific Tower creates a mutually beneficial relationship between the two kinds of tenant.  The retail space will provide convenient and high-end options for shopping, meeting spaces and food and beverage before, during and after work hours to sophisticated consumers working in the building.</p>
                        </div>
                    </div>
                </div>

                <div class="split-container">
                    <div class="section-heading"></div>
                    <figure>
                        <img src="/images/about/advantageous-img.jpg" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section section-assurance">
            <div class="section-strip narrow-strip">
                <div class="offcenter-panel offright">
                    <div class="section-heading">
                        <div class="special-heading right-bar">
                            <h1 class="heading-text">assurance</h1>
                            <div class="heading-bar"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="assurance-building-wrapper">
                <div class="section-content">
                    <div class="section-words blackWords">
                        <h2>Hong Kong Pacific Investments Limited (HKPI)</h2>
                        <p>Hong Kong Pacific Investments Limited (HKPI) has over 40 years of experience investing in property in Hong Kong. With an investment portfolio containing approximately 2 million ft² of office, retail, food and beverage, HKPI has a vast amount of experience with large-scale and high-end developments.</p>
                    </div>
                </div>
                <div class="assurance-building">
                    <figure class="outline-img">
                        <svg version="1.1" id="outline-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600.4 330" style="" xml:space="preserve" class="">
                        <path class="st0 ttuiDZTl_0" d="M-4.2,0"></path>
                        <path class="st1 ttuiDZTl_1" d="M600.4,326.6L438.1,326.6L438.1,275.8L364.8,275.8L364.8,327.4L352,327.4L352,110.5L322.6,110.5L
                            322.6,132.4L312.9,132.4L312.9,193.9L297.8,193.9L297.8,327.4L284.4,327.4L284.4,152.3L190.1,152.3L190.1,327.4L177.4,327.4L
                            177.4,60.3L140.7,60.3L140.7,327.4L127.9,327.4L127.9,297.2L81.8,297.2L81.8,326.9L0,326.9"></path>
                        </svg>
                    </figure>
                    <figure class="inline-img">
                        <img src="/images/about/assurance/building-details.svg" alt="">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section section-service">
            <div class="partial-slider-wrapper">
                <div class="split-container">
                    <div class="section-heading"></div>
                    <figure>
                        <img src="/images/about/service-img.jpg" alt="">
                    </figure>
                </div>

                <div class="split-container">
                    <div class="section-content">
                        <div class="section-heading">
                            <div class="special-heading right-bar">
                                <h1 class="heading-text">professional<br>management<br>service</h1>
                                <div class="heading-bar"></div>
                            </div>
                        </div>

                        <div class="section-words blackWords">
                            <h2>Distinguished Management Services</h2>
                            <p>HKPI’s experience with property development also shows through exceptional and professional property management services.  HKPI’s management team, Hong Kong Pacific Management Ltd (HKPM) which is a subsidiary of HKPI, prides itself on providing effective and flexible services, allowing clientele to focus fully on their business and not their office or shop space.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                    <figure class="footer-hkpt">
                        <img src="/images/hkpt-logo-white.png" alt="">
                    </figure>
                </a>
            </div>

            <div class="footer-center">
                <p class="footer-heading">Defining excellence in build quality</p>
                <p class="footer-copyright">&copy; Hong Kong Pacific Tower. 2017 All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <div class="footer-socials">
                    <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>

                <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                    <figure class="footer-hkpi">
                        <img src="/images/hkpi-logo-white.png" alt="">
                    </figure>
                </a>
            </div>
        </footer>

    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="<%= assetsMap.about.js %>"></script>
    <!-- <script src="/js/about.js"></script> -->

</body>
</html>
