<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hong Kong Pacific Tower | Downloads</title>

    <meta name="description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <link rel="canonical" href="http://hkpt.com.hk/downloads">
    <link rel="shortcut icon" type="image/png" href="http://hkpt.com.hk/images/hkpt_favicon.png"/>

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hong Kong Pacific Tower">
    <meta property="og:description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <meta property="og:url" content="http://hkpt.com.hk/downloads">
    <meta property="og:site_name" content="HKPT">
    <meta property="og:image" content="http://hkpt.com.hk/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="<%= assetsMap.downloads.css %>"> -->
    <link rel="stylesheet" href="/css/downloads.css">

</head>
<body>
    <div class="mobile-navigation-list">
        <figure class="mobile-nav-image">
            <img src="/images/innovative/slider-1.png" alt="">
        </figure>

        <div class="mobile-nav-list">
            <ul>
                <li>
                    <a class="campWhite navLink locale-btn" data-locale="en" href="/downloads">EN</a>
                    <a class="campWhite navLink locale-btn" data-locale="zh" href="/downloads">中文</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/">Home</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/about">About The Building</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/leasing">Leasing</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/innovative">Innovative Design</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/downloads">Downloads</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="mobile-navigation">
            <div class="navigation-logo-wrapper">
                <a href="/">
                    <figure class="heading-logo-image">
                        <img src="/images/header/hkpt-logo.png" alt="">
                    </figure>
                </a>
            </div>

            <button class="hamburger hamburger--elastic">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="mobileScrollHelper">
            <section class="section section-main">
                <nav class="main-navigation hasShadow">
                    <div class="navigation-logo-wrapper">
                        <a href="/">
                            <figure class="heading-logo-image">
                                <img src="/images/header/hkpt-logo.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="navigation-list-wrapper">
                        <ul>
                            <li>
                                <a class="campWhite navLink" href="/about">About The Building</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/leasing">Leasing</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/innovative">Innovative Design</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/downloads">Downloads</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/contact">Contact Us</a>
                            </li>
                            <li class="locale-wrapper">
                                <img src="/images/header/nav-globe.png" alt="">
                                <div class="locale-list-wrapper">
                                    <a href="/downloads" class="locale-btn" data-locale="en">en</a>
                                    <a href="/downloads" class="locale-btn" data-locale="zh">中文</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="responsive-width-hero">
                    <figure>
                        <img src="/images/downloads_hero.png" alt="">
                    </figure>
                </div>
            </section>

            <section class="section section-downloads">
                <div class="section-strip super-slim-strip">
                    <div class="offcenter-panel offleft">
                        <div class="special-heading left-bar">
                            <div class="heading-bar"></div>
                            <h1 class="heading-text">Downloads</h1>
                        </div>
                    </div>
                </div>

                <div class="downloads-wrapper">
                    <div class="downloads-content">
                        <div class="downloads-header">
                            <h2>Floor Plans</h2>
                        </div>

                        <div class="downloads-row">
                            <p>High Floors <span class="cursive">(21th - 26th floor)</span></p>

                            <div class="downloads-link">
                                <a href="/assets/HKPT_High_Zone_Floors.pdf" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="downloads-row">
                            <p>Low Floors <span class="cursive">(8th - 20th floor)</span></p>

                            <div class="downloads-link">
                                <a href="/assets/HKPT_Low_Zone_Floors.pdf" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="downloads-row">
                            <p>Retail &amp; Catering Floors <span class="cursive">(1st - 7th floor)</span></p>

                            <div class="downloads-link">
                                <a href="/assets/HKPT_Retail_Catering_Floors.pdf" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="downloads-row">
                            <p>Test Fit Guides</p>

                            <div class="downloads-link">
                                <a href="/assets/HKPT_Test_Fit_Guides.pdf" download><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="section-footer">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                            <figure class="footer-hkpt">
                                <img src="/images/hkpt-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="footer-center">
                        <p class="footer-heading">Defining excellence in build quality</p>
                        <p class="footer-copyright">&copy; Hong Kong Pacific Tower.<span class="br-mobile"></span><span id="footerYear"></span> All Rights Reserved.</p>
                    </div>

                    <div class="footer-right">
                        <div class="footer-socials">
                            <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                            <figure class="footer-hkpi">
                                <img src="/images/hkpi-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- <script src="<%= assetsMap.downloads.js %>"></script> -->
    <script src="/js/downloads.js"></script>
</body>
</html>
