<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hong Kong Pacific Towers | Innovative Design</title>

    <meta name="description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <link rel="canonical" href="http://hkpt.com.hk/innovative">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hong Kong Pacific Towers">
    <meta property="og:description" content="Located in the fast developing Kowloon Bay Business Area, Hong Kong Pacific Tower is a Grade-A, 24 story office building with approximately 300,000 ft²">
    <meta property="og:url" content="http://hkpt.com.hk/innovative">
    <meta property="og:site_name" content="HKPT">
    <meta property="og:image" content="http://hkpt.com.hk/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="<%= assetsMap.innovative.css %>">
    <!-- <link rel="stylesheet" href="/css/innovative.css"> -->

</head>
<body>
    <div class="mobile-navigation-list">
        <figure class="mobile-nav-image">
            <img src="/images/innovative/slider-1.png" alt="">
        </figure>

        <div class="mobile-nav-list">
            <ul>
                <li>
                    <a class="campWhite navLink" href="/">Home</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/about">About The Building</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/leasing">Leasing</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/innovative">Innovative Design</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/downloads">Downloads</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="mobile-navigation">
            <div class="navigation-logo-wrapper">
                <a href="/">
                    <figure class="heading-logo-image">
                        <img src="/images/header/hkpt-logo.png" alt="">
                    </figure>
                </a>
            </div>

            <button class="hamburger hamburger--elastic">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="mobileScrollHelper">
            <section class="section section-main">
                <nav class="main-navigation">
                    <div class="navigation-logo-wrapper">
                        <a href="/">
                            <figure class="heading-logo-image">
                                <img src="/images/header/hkpt-logo.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="navigation-list-wrapper">
                        <ul>
                            <li>
                                <a class="campWhite navLink" href="/about">About The Building</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/leasing">Leasing</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/innovative">Innovative Design</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/downloads">Downloads</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="full-width-hero">
                    <figure>
                        <img src="/images/innovative/innovativedesign_hero.jpg" alt="">
                    </figure>
                </div>
            </section>

            <section class="section section-concept">
                <div class="section-strip mobile-left">
                    <div class="special-heading left-bar">
                        <div class="heading-bar"></div>
                        <h1 class="heading-text">innovative<br>tower design<br>concept</h1>
                    </div>

                    <div class="section-words">
                        <p>Hong Kong Pacific Tower’s innovative design features are immediately apparent, both inside and out, setting a new standard in high-end office and retail spaces.  By coupling elegant design and sophisticated furnishings with ultra-efficient systems and a focus on meeting client needs, HKPI, in cooperation with award-winning design firm AGC Design Limited, have conceived and created an unparalleled new landmark in Hong Kong.</p>
                    </div>
                </div>

                <div class="innovative-slider">
                    <div class="slider-wrapper sliderArrows sliderArrows" id="innovative-second-slider">

                        <div class="innovative-slide inno-slide1">
                            <figure class="inno-slider1-bg">
                                <img src="/images/innovative/slider-1.png" alt="">
                            </figure>

                            <div class="slide-images">
                                <figure class="slide1-img">
                                    <img src="/images/innovative/slider1-img.png" alt="">
                                </figure>
                            </div>
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    <span class="white">innovative</span><br>tower <span class="white">design</span><br>concept
                                </h1>
                                <p>Hong Kong Pacific Tower’s external design features an exquisite 3-dimensional layering effect. The curtain walls are made up of alternating inclined and reclined glass panels that imitate the texture of woven cloth, homage to HKPI’s original business in the garment industry.</p>
                            </div>
                        </div>

                        <div class="innovative-slide inno-slide2">
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    <span class="white">exclusive</span><br>ceiling height<br><span class="white">with</span> comfortable<br><span class="white">construction</span>
                                </h1>
                                <p>Each floor of the office tower has an exceptional floor-to-floor height between 3.1 and 3.8 meters with large windows made of crystal clear glass panes with UV proof lamina that keep the heat and UV rays out of the indoor areas without obstructing the beautiful views of Hong Kong Island.</p>
                            </div>

                            <div class="slide-images">
                                <figure class="slide2-img">
                                    <img src="/images/innovative/slider2-img.jpg" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="innovative-slide inno-slide3">
                            <figure class="inno-slider3-bg">
                                <img src="/images/innovative/slider-3.png" alt="">
                            </figure>

                            <div class="slide-images">
                                <figure class="slide3-img">
                                    <img src="/images/innovative/slider3-img.jpg" alt="">
                                </figure>
                            </div>
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    <span class="white">the finest</span><br>materials<br><span class="white">for</span> construction
                                </h1>
                                <p>Hong Kong Pacific Tower was constructed using only the finest materials.  The best example of this is shown at the tower's main entrance, where it is clad with rare and extraordinary quality titanium panels ordered from the world-renowned Nippon Steel &amp; Sumitomo Metal Company. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section section-sustain">
                <div class="section-strip narrow-strip">
                    <div class="offcenter-panel offright">
                        <div class="offcenter-sixty">
                            <div class="special-heading right-bar">
                                <h1 class="heading-text">sustainability</h1>
                                <div class="heading-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sustain-wrapper">
                    <div class="section-words">
                        <h2>The Green Building:<br>Energy-saving &amp; Environmental-friendly</h2>
                        <p>In addition to the lamina treated glass panes that reduce electricity usage by reflecting heat and light away from the building, Hong Kong Pacific Tower also features a high-tech water-cooling air-conditioning system. With this system, electricity usage can be greatly reduced, while a rainwater recycling system is also in place for gardening purposes in order to reduce public water usage, while still providing a green, refreshing and comfortable environment to its users.<br><br>In support of efforts to reduce reliance on fossil fuels and the rising popularity of electric vehicles, the car park will provide charging outlets (32amps) for all 122 parking spaces.</p>
                    </div>

                    <div class="sustain-icons">
                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/led-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">LED lamp source is provided for general lighting in common areas.</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/car-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">High efficiency charging facilities are provided for electric vehicles.</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/rainwater-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">Rainwater Recycling Plantation System (subject to Government Approval)</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/cooler-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">5 nos. of high efficiency water-cooled chiller installed (4 nos. of 500RT and 1 no. of 250RT).</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/ultraviolet-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">Air purification system with ultraviolet sterilizer for indoor air quality improvement.</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/greenery-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">Greenery Sky Garden located on 2/F.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-certif">
                <div class="section-strip">
                    <div class="flex-container">
                        <div class="section-words">
                            <div class="special-heading left-bar">
                                <div class="heading-bar"></div>
                                <h1 class="heading-text">certification</h1>
                            </div>

                            <div class="certif-logo-wrapper">
                                <figure class="certif-img">
                                    <img src="/images/innovative/fa-seal-logo.png" alt="">
                                </figure>
                                <figure class="certif-img">
                                    <img src="/images/innovative/usgbc-logo.png" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="section-words">
                            <p>Hong Kong Pacific Tower was developed by Hong Kong Pacific Investments Limited (HKPI), and has been awarded both BEAM Plus Platinum and LEED Gold certifications, gaining environmental organizations’ recognition for the construction materials used, indoor and outdoor environments, energy efficiency and innovative design.</p>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="section-footer">
                <div class="footer-left">
                    <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                        <figure class="footer-hkpt">
                            <img src="/images/hkpt-logo-white.png" alt="">
                        </figure>
                    </a>
                </div>

                <div class="footer-center">
                    <p class="footer-heading">Defining excellence in build quality</p>
                    <p class="footer-copyright">&copy; Hong Kong Pacific Tower.<span class="br-mobile"></span><span id="footerYear"></span> All Rights Reserved.</p>
                </div>

                <div class="footer-right">
                    <div class="footer-socials">
                        <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>

                    <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                        <figure class="footer-hkpi">
                            <img src="/images/hkpi-logo-white.png" alt="">
                        </figure>
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="<%= assetsMap.innovative.js %>"></script>
    <!-- <script src="/js/innovative.js"></script> -->
</body>
</html>
