@import 'global';

.section-contact {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;

  .contact-pattern-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    display: flex;

    .contact-pattern {
      position: relative;
      height: 100%;
      flex: 0 1 16.67%;

      &.normal {
        background: linear-gradient(#B9BBBB, #fff 14.3%, #B9BBBB 28.6%, #fff 42.9%, #B9BBBB 57.2%, #fff 71.5%, #B9BBBB 85.8%, #fff 100%);
      }

      &.reverse {
        background: linear-gradient(#fff, #B9BBBB 14.3%, #fff 28.6%, #B9BBBB 42.9%, #fff 57.2%, #B9BBBB 71.5%, #fff 85.8%, #B9BBBB 100%);
      }
    }

    .accent-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .accent-bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.2);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &:nth-of-type(1) {
          top: 14.3%;
          border-color: transparent;
        }
        &:nth-of-type(2) {
          top: 28.6%;
          border-color: rgba(255, 255, 255, 0.5);
        }
        &:nth-of-type(3) {
          top: 42.9%;
          border-color: rgba(255, 255, 255, 0.7);
        }
        &:nth-of-type(4) {
          top: 57.2%;
          border-color: rgba(255, 255, 255, 0.7);
        }
        &:nth-of-type(5) {
          top: 71.5%;
          border-color: rgba(255, 255, 255, 0.5);
        }
        &:nth-of-type(6) {
          top: 85.8%;
          border-color: transparent;
        }
      }
    }

  }

  .center-wrapper {
    margin: 40px auto;
    width: 65%;
    max-width: 800px;

    .contact-wrapper {
      display: flex;
      padding: 20px 0;
      justify-content: flex-end;

      .contact-content {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        max-width: 400px;
        padding-left: 60px;
      }

      .silver-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background: linear-gradient(#B9BBBB, rgba(255, 255, 255, 0));
      }

      .contact-info {

        .contact-img {
          max-width: 300px;
          margin-bottom: 40px;
        }

        span {
          max-width: 300px;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: 300;
          line-height: 1.4;
          margin-bottom: 15px;
          display: block;
        }

        p {
          text-transform: uppercase;

          &.bolded {
            font-family: $helve-cond;
            line-height: 110%;
          }
        }
      }

      .disclaimer-info {
        margin-top: 40px;

        p {
          font-size: 10px;
        }
      }
    }

  }
}
