<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>富通中心 | 樓宇資料</title>

    <meta name="description" content="富通中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <link rel="canonical" href="http://ftlifetower.com/zh/about">
    <link rel="shortcut icon" type="image/png" href="http://ftlifetower.com/images/ftlife_favicon.png"/>

    <meta property="og:locale" content="zh_HK">
    <meta property="og:type" content="website">
    <meta property="og:title" content="富通中心">
    <meta property="og:description" content="富通中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <meta property="og:url" content="http://ftlifetower.com/zh">
    <meta property="og:site_name" content="FTLife Tower">
    <meta property="og:image" content="http://ftlifetower.com/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="<%= assetsMap.about.css %>"> -->
    <link rel="stylesheet" href="/css/about.css">

</head>
<body>
    <div class="mobile-navigation-list">
        <figure class="mobile-nav-image">
            <img src="/images/innovative/slider-1.png" alt="">
        </figure>

        <div class="mobile-nav-list">
            <ul>
                <li>
                    <a class="campWhite navLink locale-btn" data-locale="en" href="/en/about">EN</a>
                    <a class="campWhite navLink locale-btn" data-locale="zh" href="/zh/about">中文</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh">首頁</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/about">樓宇資料</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/leasing">租賃</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/innovative">創新概念</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/downloads">下載區</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/contact">聯絡我們</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="mobile-navigation">
            <div class="navigation-logo-wrapper">
                <a href="/zh">
                    <figure class="heading-logo-image">
                        <img src="/images/header/ftlife-logo.png" alt="">
                    </figure>
                </a>
            </div>

            <button class="hamburger hamburger--elastic">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="mobileScrollHelper">
            <section class="section section-main">
                <nav class="main-navigation">
                    <div class="navigation-logo-wrapper">
                        <a href="/zh">
                            <figure class="heading-logo-image">
                                <img src="/images/header/ftlife-logo.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="navigation-list-wrapper">
                        <ul>
                            <li>
                                <a class="campWhite navLink" href="/zh/about">樓宇資料</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/leasing">租賃</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/innovative">創新概念</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/downloads">下載區</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/contact">聯絡我們</a>
                            </li>
                            <li class="locale-wrapper">
                                <img src="/images/header/nav-globe.png" alt="">
                                <div class="locale-list-wrapper">
                                    <a href="/en/about" class="locale-btn" data-locale="en">en</a>
                                    <a href="/zh/about" class="locale-btn" data-locale="zh">中文</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="full-width-video">
                    <video autoplay>
                        <source src="/images/hkpt-timelapse.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="full-width-hero">
                    <figure>
                        <img src="/images/about/aboutthebuilding_exteriornight.jpg" alt="">
                    </figure>
                </div>
            </section>

            <section class="section section-about">
                <div class="section-strip mobile-left">
                    <div class="special-heading left-bar">
                        <div class="heading-bar"></div>
                        <h1 class="heading-text">樓宇資料</h1>
                    </div>

                    <div class="section-words">
                        <p>富通中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。樓底特高、大堂設計典雅，二樓更設有精緻的空中花園，為租戶及零售顧客提供豪華的開放休憩空間。</p>
                    </div>
                </div>

                <div class="full-width-slider">
                    <div class="slider-wrapper sliderArrows sliderArrows" id="about-second-slider">
                        <figure>
                            <img src="/images/about/aboutthebuilding_exterior.jpg" alt="">
                        </figure>
                        <figure>
                            <img src="/images/about/aboutthebuilding_interior.jpg" alt="">
                        </figure>
                        <figure>
                            <img src="/images/about/aboutthebuilding_slider1.jpg" alt="">
                        </figure>
                        <figure>
                            <img src="/images/about/aboutthebuilding_slider2.jpg" alt="">
                        </figure>
                        <figure>
                            <img src="/images/about/aboutthebuilding_slider3.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </section>

            <section class="section section-connect">
                <div class="animation-field">

                    <div class="connect-content">
                        <div class="connect-words">
                            <div class="special-heading left-bar">
                                <div class="heading-bar"></div>
                                <h1 class="heading-text">交通便利</h1>
                            </div>

                            <div class="section-words">
                                <h2>位處市中心<br>四通八達</h2>
                                <p>富通中心位處九龍東心臟地帶，無論駕車或乘搭公共交通工具均可輕鬆到達。如欲乘搭公共交通公具，計劃興建長550米的有蓋行人通道將由富通中心連接德福廣場，前往公共巴士站或九龍灣港鐵站方便快捷。</p>
                            </div>
                        </div>

                        <div class="connect-table-wrapper">
                            <h2>九龍灣通運</h2>

                            <div class="connect-timetable">
                                <div class="connect-table">
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content"><img src="/images/about/connectivity/mtr-icon.png" alt=""></div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">九龍灣</div>
                                        <div class="connect-data content">15 分鐘</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content">24 分鐘</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content">29 分鐘</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content">52 分鐘</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content">53 分鐘</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data header mobileHidden">&nbsp;</div>
                                        <div class="connect-data content">58 分鐘</div>
                                    </div>
                                </div>

                                <div class="connect-table reversed">
                                    <div class="connect-row">
                                        <div class="connect-data content"><img src="/images/about/connectivity/car-icon.png" alt=""></div>
                                        <div class="connect-data header">&nbsp;</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">12 分鐘</div>
                                        <div class="connect-data header">鰂魚涌</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">15 分鐘</div>
                                        <div class="connect-data header">尖沙咀</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">20 分鐘</div>
                                        <div class="connect-data header">中心</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">35 分鐘</div>
                                        <div class="connect-data header">香港國際機場</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">40 分鐘</div>
                                        <div class="connect-data header">羅湖站</div>
                                    </div>
                                    <div class="connect-row">
                                        <div class="connect-data content">50 分鐘</div>
                                        <div class="connect-data header">落馬洲站</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="connect-map">
                        <figure id="layer1-streets">
                            <img src="/images/about/connectivity/streets.png" alt="">
                        </figure>

                        <div id="hkpt-building" class="building-wrappers falling-bezier">
                            <figure id="layer2-hkpt-build">
                                <img src="/images/about/connectivity/build-hkpt.png" alt="">
                            </figure>
                            <figure id="layer2-hkpt-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-hkpt.png" alt="">
                            </figure>
                        </div>

                        <div id="emax-building" class="building-wrappers falling-bezier">
                            <figure id="layer2-emax-build">
                                <img src="/images/about/connectivity/build-emax.png" alt="">
                            </figure>
                            <figure id="layer2-emax-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-emax.png" alt="">
                            </figure>
                        </div>

                        <div id="megabox-building" class="building-wrappers falling-bezier">
                            <figure id="layer2-megabox-build">
                                <img src="/images/about/connectivity/build-megabox.png" alt="">
                            </figure>
                            <figure id="layer2-megabox-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-megabox.png" alt="">
                            </figure>
                        </div>

                        <div id="mtr-building" class="building-wrappers falling-bezier">
                            <figure id="layer2-mtr-build">
                                <img src="/images/about/connectivity/build-mtr.png" alt="">
                            </figure>
                            <figure id="layer2-mtr-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-mtr.png" alt="">
                            </figure>
                        </div>

                        <div id="park-building" class="building-wrappers falling-bezier">
                            <figure id="layer2-park-build">
                                <img src="/images/about/connectivity/build-park.png" alt="">
                            </figure>
                            <figure id="layer2-park-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-park.png" alt="">
                            </figure>
                        </div>

                        <div id="kaifuk-street" class="street-wrappers elastic-bezier">
                            <figure id="layer3-kaifuk-street">
                                <img src="/images/about/connectivity/street-kaifuk.png" alt="">
                            </figure>
                        </div>

                        <div id="kuntong-street" class="street-wrappers elastic-bezier">
                            <figure id="layer3-kuntong-street">
                                <img src="/images/about/connectivity/street-kuntong.png" alt="">
                            </figure>
                        </div>

                        <div id="kaitak-water" class="water-wrappers">
                            <figure id="layer4-kaitak-water">
                                <img src="/images/about/connectivity/water-kaitak.png" alt="">
                            </figure>
                            <figure id="layer4-kaitak-pin" class="pin-image elastic-bezier">
                                <img src="/images/about/connectivity/pin-kaitak.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="section-strip purpleBg">
                    <div class="arrow-map">
                        <div class="double-arrow">
                           <figure class="arrow-img" id="arrow-1">
                               <img src="/images/about/connectivity/arrow.png" alt="">
                           </figure>
                           <figure class="arrow-img" id="arrow-2">
                               <img src="/images/about/connectivity/arrow.png" alt="">
                           </figure>
                        </div>

                        <figure class="icon-circle icon-first-circle">
                            <figcaption>出發<br>起點</figcaption>
                            <img src="/images/about/connectivity/icon-10.png" alt="">
                            <figcaption>九龍站</figcaption>
                        </figure>
                        <figure class="arrow-img" id="arrow-3">
                            <img src="/images/about/connectivity/arrow.png" alt="">
                        </figure>

                        <figure class="icon-circle icon-second-circle">
                            <figcaption><span>7</span><br>分鐘</figcaption>
                            <img src="/images/about/connectivity/icon-7.png" alt="">
                            <figcaption>富通中心</figcaption>
                        </figure>
                        <figure class="arrow-img" id="arrow-4">
                            <img src="/images/about/connectivity/arrow.png" alt="">
                        </figure>

                        <figure class="icon-circle icon-third-circle">
                            <figcaption><span>5</span><br>分鐘</figcaption>
                            <img src="/images/about/connectivity/icon-8.png" alt="">
                            <figcaption>購物中心</figcaption>
                        </figure>
                        <figure class="arrow-img" id="arrow-5">
                            <img src="/images/about/connectivity/arrow.png" alt="">
                        </figure>

                        <figure class="icon-circle icon-fourth-circle">
                            <figcaption><span>10</span><br>分鐘</figcaption>
                            <img src="/images/about/connectivity/icon-9.png" alt="">
                            <figcaption>啟德<br>開發區</figcaption>
                        </figure>

                        <div class="double-arrow">
                           <figure class="arrow-img" id="arrow-6">
                               <img src="/images/about/connectivity/arrow.png" alt="">
                           </figure>
                           <figure class="arrow-img" id="arrow-7">
                               <img src="/images/about/connectivity/arrow.png" alt="">
                           </figure>
                        </div>

                    </div>
                </div>

            </section>

            <section class="section section-integrate">
                <div class="partial-slider-wrapper">
                    <div class="split-container">
                        <div class="section-content">
                            <div class="section-heading">
                                <div class="special-heading left-bar">
                                    <div class="heading-bar"></div>
                                    <h1 class="heading-text">完美結合</h1>
                                </div>
                            </div>

                            <div class="section-words blackWords">
                                <h2>商廈與環境的<br>完美結合</h2>
                                <p>富通中心結合辦公及零售空間，讓兩類租戶互惠互利。零售空間將於辦公時間及之後為樓宇內上班的尊貴消費者提供便利而高檔的購物、聚會及餐飲選擇。</p>
                            </div>
                        </div>
                    </div>

                    <div class="split-container">
                        <div class="section-heading"></div>
                        <figure>
                            <img src="/images/about/advantageous-img.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </section>

            <section class="section section-assurance">
                <div class="section-strip narrow-strip">
                    <div class="offcenter-panel offright">
                        <div class="section-heading">
                            <div class="special-heading right-bar">
                                <h1 class="heading-text">信心保證</h1>
                                <div class="heading-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="assurance-building-wrapper">
                    <div class="section-content">
                        <div class="section-words blackWords">
                            <h2>港豐發展有限公司（港豐發展）</h2>
                            <p>港豐發展有限公司（港豐發展）於投資香港物業方面擁有逾40年經驗，其投資組合包括約200萬平方呎的辦公室、零售及餐飲商舖，對於發展大型及高端項目經驗豐富。</p>
                        </div>
                    </div>
                    <div class="assurance-building">
                        <figure class="outline-img">
                            <svg version="1.1" id="outline-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600.4 330" style="" xml:space="preserve" class="">
                            <path class="st0 ttuiDZTl_0" d="M-4.2,0"></path>
                            <path class="st1 ttuiDZTl_1" d="M600.4,326.6L438.1,326.6L438.1,275.8L364.8,275.8L364.8,327.4L352,327.4L352,110.5L322.6,110.5L
                                322.6,132.4L312.9,132.4L312.9,193.9L297.8,193.9L297.8,327.4L284.4,327.4L284.4,152.3L190.1,152.3L190.1,327.4L177.4,327.4L
                                177.4,60.3L140.7,60.3L140.7,327.4L127.9,327.4L127.9,297.2L81.8,297.2L81.8,326.9L0,326.9"></path>
                            </svg>
                        </figure>
                        <figure class="inline-img">
                            <img src="/images/about/assurance/building-details.svg" alt="">
                        </figure>
                    </div>
                </div>
            </section>

            <section class="section section-service">
                <div class="partial-slider-wrapper">
                    <div class="split-container">
                        <div class="section-heading"></div>
                        <figure>
                            <img src="/images/about/service-img.jpg" alt="">
                        </figure>
                    </div>

                    <div class="split-container">
                        <div class="section-content">
                            <div class="section-heading">
                                <div class="special-heading right-bar">
                                    <h1 class="heading-text">專業管理服務</h1>
                                    <div class="heading-bar"></div>
                                </div>
                            </div>

                            <div class="section-words blackWords">
                                <h2>卓越管理服務</h2>
                                <p>港豐發展於物業發展方面的經驗亦可見於其出色的專業物業管理服務。港豐發展的管理團隊 HK Pacific Management Ltd（HKPM）為港豐發展附屬公司，提供高效而靈活的優質服務，讓客戶可全心專注於業務而毋須為辦公室或商舖空間費心。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="section-footer">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                            <figure class="footer-hkpt">
                                <img src="/images/ftlife-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="footer-center">
                        <p class="footer-heading">優質建築新標準</p>
                        <p class="footer-copyright">&copy; 富通中心。<span class="br-mobile"></span><span id="footerYear"></span> 版權所有。</p>
                    </div>

                    <div class="footer-right">
                        <div class="footer-socials">
                            <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                            <figure class="footer-hkpi">
                                <img src="/images/hkpi-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- <script src="<%= assetsMap.about.js %>"></script> -->
    <script src="/js/about.js"></script>
</body>
</html>
