<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>港豐中心 | 聯絡我們</title>

    <meta name="description" content="港豐中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <link rel="canonical" href="http://hkpt.com.hk/zh/contact">
    <link rel="shortcut icon" type="image/png" href="http://hkpt.com.hk/images/hkpt_favicon.png"/>

    <meta property="og:locale" content="zh_HK">
    <meta property="og:type" content="website">
    <meta property="og:title" content="港豐中心">
    <meta property="og:description" content="港豐中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <meta property="og:url" content="http://hkpt.com.hk">
    <meta property="og:site_name" content="HKPT">
    <meta property="og:image" content="http://hkpt.com.hk/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="<%= assetsMap.contact.css %>"> -->
    <link rel="stylesheet" href="/css/contact.css">

</head>
<body>
    <div class="mobile-navigation-list">
        <figure class="mobile-nav-image">
            <img src="/images/innovative/slider-1.png" alt="">
        </figure>

        <div class="mobile-nav-list">
            <ul>
                <li>
                    <a class="campWhite navLink locale-btn" data-locale="en" href="/contact">EN</a>
                    <a class="campWhite navLink locale-btn" data-locale="zh" href="/contact">中文</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/">首頁</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/about">樓宇資料</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/leasing">租賃</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/innovative">創新概念</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/downloads">下載區</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/contact">聯絡我們</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="mobile-navigation">
            <div class="navigation-logo-wrapper">
                <a href="/">
                    <figure class="heading-logo-image">
                        <img src="/images/header/hkpt-logo.png" alt="">
                    </figure>
                </a>
            </div>

            <button class="hamburger hamburger--elastic">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="mobileScrollHelper">
            <section class="section section-main">
                <nav class="main-navigation hasShadow">
                    <div class="navigation-logo-wrapper">
                        <a href="/">
                            <figure class="heading-logo-image">
                                <img src="/images/header/hkpt-logo.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="navigation-list-wrapper">
                        <ul>
                            <li>
                                <a class="campWhite navLink" href="/about">樓宇資料</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/leasing">租賃</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/innovative">創新概念</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/downloads">下載區</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/contact">聯絡我們</a>
                            </li>
                            <li class="locale-wrapper">
                                <img src="/images/header/nav-globe.png" alt="">
                                <div class="locale-list-wrapper">
                                    <a href="/contact" class="locale-btn" data-locale="en">en</a>
                                    <a href="/contact" class="locale-btn" data-locale="zh">中文</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

            </section>

            <section class="section section-contact">
                <div class="contact-pattern-wrapper patterned-bar">
                    <div class="contact-pattern reverse"></div>
                    <div class="contact-pattern normal"></div>
                    <div class="contact-pattern reverse"></div>
                    <div class="contact-pattern normal"></div>
                    <div class="contact-pattern reverse"></div>
                    <div class="contact-pattern normal"></div>
                    <div class="accent-wrapper">
                        <div class="accent-bar"></div>
                        <div class="accent-bar"></div>
                        <div class="accent-bar"></div>
                        <div class="accent-bar"></div>
                        <div class="accent-bar"></div>
                        <div class="accent-bar"></div>
                    </div>
                </div>

                <div class="center-wrapper">
                    <div class="special-heading left-bar">
                        <div class="heading-bar"></div>
                        <h1 class="heading-text">聯絡我們</h1>
                    </div>

                    <div class="contact-wrapper">
                        <div class="contact-content">
                            <div class="contact-info">
                                <div class="silver-bar"></div>
                                <figure class="contact-img">
                                    <img src="/images/HKPTcontact.png" alt="">
                                </figure>

                                <span>港豐發展有限公司致力為您營造最安全舒適的工作環境。如有任何疑問，歡迎隨時聯絡我們。</span>

                                <p>九龍灣 常悅道18號</p>
                                <br>
                                <p class="bolded">租賃查詢</p>
                                <br>
                                <p>leasing@hkpi.com.hk</p>
                                <p>+852 8201 1081</p>
                            </div>

                            <div class="disclaimer-info">
                                <p>免責聲明：<br><br>本網站所載內容乃由港豐發展有限公司（港豐發展）根據其現行商業慣例及政策而編製。本公司於編製網頁內容時已盡一切合理努力確保有關內容準確無誤。<br><br>港豐發展有限公司（港豐發展）概不對本網站內容任何不準確、遺漏、失實陳述或錯誤，或任何瀏覽本網站的人士或其他取得本網站內容的人士直接或間接遭受的任何經濟或其他損失負責。<br><br>本網站內容僅供參考，其中概無任何內容構成專業意見、出售要約或由港豐發展有限公司（港豐發展）作出的具約束力承諾。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="section-footer footer-padding-none">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                            <figure class="footer-hkpt">
                                <img src="/images/hkpt-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="footer-center">
                        <p class="footer-heading">優質建築新標準</p>
                        <p class="footer-copyright">&copy; 港豐中心。<span class="br-mobile"></span><span id="footerYear"></span> 版權所有。</p>
                    </div>

                    <div class="footer-right">
                        <div class="footer-socials">
                            <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                            <figure class="footer-hkpi">
                                <img src="/images/hkpi-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- <script src="<%= assetsMap.contact.js %>"></script> -->
    <script src="/js/contact.js"></script>
</body>
</html>
