<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>港豐中心 | 創新樓宇設計概念</title>

    <meta name="description" content="港豐中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <link rel="canonical" href="http://hkpt.com.hk/zh/innovative">
    <link rel="shortcut icon" type="image/png" href="http://hkpt.com.hk/images/hkpt_favicon.png"/>

    <meta property="og:locale" content="zh_HK">
    <meta property="og:type" content="website">
    <meta property="og:title" content="港豐中心">
    <meta property="og:description" content="港豐中心位於發展迅速的九龍灣商業區，地處商業中心，為一棟24層高的甲級寫字樓，提供約339,000平方呎的優越零售商舖及辦公空間。">
    <meta property="og:url" content="http://hkpt.com.hk/zh">
    <meta property="og:site_name" content="HKPT">
    <meta property="og:image" content="http://hkpt.com.hk/images/hkpt-facebook.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="<%= assetsMap.innovative.css %>"> -->
    <link rel="stylesheet" href="/css/innovative.css">

</head>
<body>
    <div class="mobile-navigation-list">
        <figure class="mobile-nav-image">
            <img src="/images/innovative/slider-1.png" alt="">
        </figure>

        <div class="mobile-nav-list">
            <ul>
                <li>
                    <a class="campWhite navLink locale-btn" data-locale="en" href="/en/innovative">EN</a>
                    <a class="campWhite navLink locale-btn" data-locale="zh" href="/zh/innovative">中文</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh">首頁</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/about">樓宇資料</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/leasing">租賃</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/innovative">創新概念</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/downloads">下載區</a>
                </li>
                <li>
                    <a class="campWhite navLink" href="/zh/contact">聯絡我們</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="mobile-navigation">
            <div class="navigation-logo-wrapper">
                <a href="/zh">
                    <figure class="heading-logo-image">
                        <img src="/images/header/ftlife-logo.png" alt="">
                    </figure>
                </a>
            </div>

            <button class="hamburger hamburger--elastic">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <div class="mobileScrollHelper">
            <section class="section section-main">
                <nav class="main-navigation">
                    <div class="navigation-logo-wrapper">
                        <a href="/zh">
                            <figure class="heading-logo-image">
                                <img src="/images/header/ftlife-logo.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="navigation-list-wrapper">
                        <ul>
                            <li>
                                <a class="campWhite navLink" href="/zh/about">樓宇資料</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/leasing">租賃</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/innovative">創新概念</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/downloads">下載區</a>
                            </li>
                            <li>
                                <a class="campWhite navLink" href="/zh/contact">聯絡我們</a>
                            </li>
                            <li class="locale-wrapper">
                                <img src="/images/header/nav-globe.png" alt="">
                                <div class="locale-list-wrapper">
                                    <a href="/en/innovative" class="locale-btn" data-locale="en">en</a>
                                    <a href="/zh/innovative" class="locale-btn" data-locale="zh">中文</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="full-width-hero">
                    <figure>
                        <img src="/images/innovative/innovativedesign_hero.jpg" alt="">
                    </figure>
                </div>
            </section>

            <section class="section section-concept">
                <div class="section-strip mobile-left">
                    <div class="special-heading left-bar">
                        <div class="heading-bar"></div>
                        <h1 class="heading-text">創新樓宇<br>設計概念</h1>
                    </div>

                    <div class="section-words">
                        <p>港豐中心內部及外觀均展現創新設計特色，為高檔辦公及零售空間的新典範。港豐發展與獲獎設計公司AGC Design Limited合作，結合典雅設計及精緻裝飾，加上超高效系統及以客為本的精神，構思並創造出全港獨一無二的新地標。</p>
                    </div>
                </div>

                <div class="innovative-slider">
                    <div class="slider-wrapper sliderArrows sliderArrows" id="innovative-second-slider">

                        <div class="innovative-slide inno-slide1">
                            <figure class="inno-slider1-bg">
                                <img src="/images/innovative/slider-1.png" alt="">
                            </figure>

                            <div class="slide-images">
                                <figure class="slide1-img">
                                    <img src="/images/innovative/slider1-img.png" alt="">
                                </figure>
                            </div>
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    <span class="white">創新</span>樓宇<br>設計<span class="white">概念</span>
                                </h1>
                                <p>港豐中心的外部設計呈現精巧的3D分層效果。幕牆的玻璃板前傾及後傾相間，營造出織布質感的效果，象徵港豐發展的原來業務——製衣業。</p>
                            </div>
                        </div>

                        <div class="innovative-slide inno-slide2">
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    樓底<span class="white">特高</span><br><span class="white">寬敞</span>舒適
                                </h1>
                                <p>寫字樓各層樓底高達3.1米至3.8米，晶瑩剔透的特大玻璃窗配備防紫外線膜，減少熱力及紫外線進入室內的同時，不會遮擋窗外的港島區美景。</p>
                            </div>

                            <div class="slide-images">
                                <figure class="slide2-img">
                                    <img src="/images/innovative/slider2-img.jpg" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="innovative-slide inno-slide3">
                            <figure class="inno-slider3-bg">
                                <img src="/images/innovative/slider-3.png" alt="">
                            </figure>

                            <div class="slide-images">
                                <figure class="slide3-img">
                                    <img src="/images/innovative/slider3-img.jpg" alt="">
                                </figure>
                            </div>
                            <div class="slide-words">
                                <h1 class="slide-heading">
                                    建築材料<br><span class="white">上乘</span>
                                </h1>
                                <p>港豐中心採用最上乘的材料建成。最佳例子為主入口，罕有而品質非凡的鈦金屬板乃特意從國際知名鋼鐵公司新日鐵住金訂購。</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="section section-sustain">
                <div class="section-strip narrow-strip">
                    <div class="offcenter-panel offright">
                        <div class="offcenter-sixty">
                            <div class="special-heading right-bar">
                                <h1 class="heading-text">可持續發展</h1>
                                <div class="heading-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sustain-wrapper">
                    <div class="section-words">
                        <h2>綠色建築：<br>節省能源及環保</h2>
                        <p>港豐中心的玻璃板鍍有薄膜，可反射熱力及光線，有助節省用電。此外，港豐中心亦配備高科技水冷空氣調節系統，可使用電力大幅減少；雨水回收系統則作園藝用途，既能減少公眾用水量，亦能為大廈使用者提供清新、舒適的綠化環境。<br><br>為鼓勵減少使用化石燃料，加上電動車愈來愈普及，停車場全部122個泊車位均設有32安培充電位。</p>
                    </div>

                    <div class="sustain-icons">
                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/led-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">公共空間設有LED燈源作一般照明用途。</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/car-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">高效充電設施供電動車使用。</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/rainwater-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">雨水回收種植系統</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/cooler-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">已裝設五款型號的高效水冷式冷水機（四款為500RT，一款為250RT）。</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/ultraviolet-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">具備紫外線殺菌功能的空氣淨化系統，提升室內空氣質素。</p>
                        </div>

                        <div class="sustain-icon-wrapper">
                            <figure class="sustain-icon">
                                <img src="/images/innovative/sustain/greenery-icon.png" alt="">
                            </figure>
                            <p class="sustain-text">二樓設有綠色空中花園。</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-certif">
                <div class="section-strip">
                    <div class="flex-container">
                        <div class="section-words">
                            <div class="special-heading left-bar">
                                <div class="heading-bar"></div>
                                <h1 class="heading-text">證書</h1>
                            </div>

                            <div class="certif-logo-wrapper">
                                <figure class="certif-img">
                                    <img src="/images/innovative/fa-seal-logo.png" alt="">
                                </figure>
                                <figure class="certif-img">
                                    <img src="/images/innovative/usgbc-logo.png" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="section-words">
                            <p>港豐中心由港豐發展有限公司（港豐發展）開發，同時獲頒綠建環評鉑金級及LEED金級證書，所採用的建築物料、室內及室外環境、能源效益及創新設計亦受到多家環保機構認可。</p>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="section-footer footer-padding-none">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <a href="http://www.hkpi.com.hk/en-us/properties/leasing/nkil-6311-klb" target="_blank">
                            <figure class="footer-hkpt">
                                <img src="/images/ftlife-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>

                    <div class="footer-center">
                        <p class="footer-heading">優質建築新標準</p>
                        <p class="footer-copyright">&copy; 港豐中心。<span class="br-mobile"></span><span id="footerYear"></span> 版權所有。</p>
                    </div>

                    <div class="footer-right">
                        <div class="footer-socials">
                            <a target="_blank" href="https://www.facebook.com/HongkongPacificTower"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/hong-kong-pacific-investment-limited/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>

                        <a href="http://www.hkpi.com.hk/en-us" target="_blank">
                            <figure class="footer-hkpi">
                                <img src="/images/hkpi-logo-white.png" alt="">
                            </figure>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- <script src="<%= assetsMap.innovative.js %>"></script> -->
    <script src="/js/innovative.js"></script>
</body>
</html>
